<h1 class="administration-page-title">Create course</h1>

<div class="grid-row">
    <div class="grid-cell grid-cell-1-2 grid-cell-sm-1-2 grid-cell-s-2-3 grid-cell-ls-1">
        <form class="administration-form"
              ng-submit="createCourse()"
              name="courseForm">
            <div class="admin-auth_fieldsset">
                <label class="form-control">
                    <span class="form-control_label">
                        Title
                    </span>
                    <span class="form-control_input">
                        <input type="text" name="name"
                               required
                               ng-model="request.name">
                    </span>
                    <span class="form-control_errors" ng-if="formResponse.errors.name">
                        {{formResponse.errors.name}}
                    </span>
                </label>

                <label class="form-control">
                    <span class="form-control_label">
                        Speciality
                    </span>
                    <span class="form-control_input">
                        <div ng-select
                             ng-autocomplete-field="newSpeciality"
                             ng-model-list="specialitiesList"
                             ng-select-options="{class: 'select-1', label: 'name', autocomplete: true}"
                             ng-model="request.speciality"></div>

                    </span>

                    <span class="form-control_errors" ng-if="formResponse.errors.speciality">
                        {{formResponse.errors.speciality}}
                    </span>

                </label>


                <label class="form-control">
                    <span class="form-control_label">
                        Description
                    </span>
                    <span class="form-control_input">
                        <textarea ng-model="request.description"
                                  required
                                  maxlength="120"
                                  name="description"
                                  class="text-field"
                                  placeholder="Course description">

                        </textarea>
                    </span>
                </label>


                <div class="form-control">
                    <span class="form-control_label">Cover</span>
                    <span class="form-control_input">
                        <label class="btn btn-file btn-rounded">
                            <span>Choose file...</span>
                            <input type="file" ng-model="coverImage"
                                   ng-required="!coverImage"
                                   ng-file-select="onFileSelect($file)">
                        </label>
                        <div class="file-name">
                            <span>
                                {{ coverFile.name }}
                            </span>
                        </div>
                    </span>
                </div>

                <div class="form-control">
                    <span class="form-control_label">
                        Tags
                    </span>
                    <div class="form-control_input">
                        <textarea ng-model="courseTags"
                                  name="tags"
                                  required
                                  ng-change="parseTags(courseTags)"
                                  class="text-field"
                                  placeholder="Enter tags separated by spaces without #">
                        </textarea>
                    </div>
                </div>

                <div class="form-control" ng-if="courseForm.$valid">
                    <span class="form-control_label">Course Cover Preview</span>
                    <div class="form-control_input">

                        <div class="course-preview">
                            <div class="course-preview-content">
                                <div class="course-preview-image"
                                     ng-style="{'background-image' : 'url(' + coverImage + ')'}"></div>
                                <div class="course-preview-speciality">
                                    {{ request.speciality ? request.speciality.name : newSpeciality }}
                                </div>
                                <div class="course-preview-name">
                                    {{ request.name }}
                                </div>
                                <div class="course-preview-tags">
                                    <span ng-repeat="tag in request.tags track by $index">
                                        <a href="#">#{{tag}}</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-control">
                    <button class="btn btn-submit btn-rounded" type="submit"
                            ng-disabled="!(courseForm.$valid && (request.speciality.name || newSpeciality))">
                        <span class="bold" ng-if="!request.id">Create</span>
                        <span class="bold" ng-if="request.id">Save</span>
                    </button>

                    <span class="form-control_errors" ng-if="formResponse.detail">
                        {{formResponse.detail}}
                    </span>

                </div>
            </div>
        </form>
    </div>
</div>

