
<h1 class="administration-page-title">Courses</h1>


<table class="administration-result-table" cellpadding="0" cellspacing="0" ng-if="coursesList.length">
    <thead>
    <tr>
        <th>Title</th>
        <th>Speciality</th>
        <th>Lessons</th>
        <th width="1px"
            class="with-sorting"
            ng-class="{sorted: sort.name === 'started', 'sorted-asc': sort.asc}"
            ng-click="sortBy('started')"
        >Started</th>
        <th width="1px"
            ng-class="{sorted: sort.name === 'completed', 'sorted-asc': sort.asc}"
            ng-click="sortBy('completed')"
            class="with-sorting">Completed</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="course in coursesList" ui-sref="main.base.courses_view({course_id: course.course_id})">
        <td class="text-left">
            <nobr>{{ course.name }}</nobr>
        </td>
        <td>
            {{ course.speciality.name }}
        </td>
        <td>
            <span ng-repeat="(key, item) in course.lessons_count" class="lng-indicator">
                <img ng-attr-src="/static/images/lng/{{key}}.svg" width="16px;"/>
                <span>{{ item }}</span>
            </span>
        </td>
        <!--<td>n/a</td>-->
        <td width="1px" class="text-center">
            {{ course.users_started }}
        </td>
        <td width="1px" class="text-center">
            {{ course.users_completed }}
        </td>
        <td>
            <span ng-if="course.is_active">Yes</span>
            <span ng-if="!course.is_active">No</span>
        </td>
    </tr>
    </tbody>
</table>


<div class="administration-empty-list" ng-if="!coursesList.length">
    Courses list is empty
</div>
<a ui-sref="main.base.courses_create({id: null})" class="btn btn-submit btn-rounded">
    <span>Create course</span>
</a>
