
<!--<h1 class="administration-page-title">-->
    <!--{{course.name}}-->
<!--</h1>-->

<div class="grid-row">
    <div class="grid-cell">
        <div class="administration-form">
            <div class="form-control">
                <div class="form-control_input">
                    <div class="course-preview">
                        <div class="course-preview-content">
                            <div class="course-preview-image"
                                 ng-style="{'background-image' : 'url(/media/' + course.image.image_name + ')'}"></div>

                            <div class="course-preview-languages">
                                <a href="#" class="course-preview-languages_link">
                                    <img src="/static/images/lng/en.svg"/>
                                </a>
                                <a href="#" class="course-preview-languages_link">
                                    <img src="/static/images/lng/ru.svg"/>
                                </a>
                                <a href="#" class="course-preview-languages_link">
                                    <img src="/static/images/lng/zh.svg"/>
                                </a>
                                <a href="#" class="course-preview-languages_link">
                                    <img src="/static/images/lng/ko.svg"/>
                                </a>
                                <a href="#" class="course-preview-languages_link">
                                    <img src="/static/images/lng/ja.svg"/>
                                </a>
                            </div>

                            <div class="course-preview-speciality">
                                {{ course.speciality.name }}
                            </div>
                            <div class="course-preview-name">
                                {{ course.name }}
                            </div>
                            <div class="course-preview-tags">
                                <span ng-repeat="tag in course.tags track by $index">
                                    <a href="#">#{{tag}}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-control float-right">
                <button class="btn btn-rounded" type="button"
                   ng-click="toggleActivation(!course.is_active)"
                   ng-class="{'btn-submit': !course.is_active, 'btn-cancel': course.is_active}">
                    <span ng-if="!course.is_active">Activate</span>
                    <span ng-if="course.is_active">Deactivate</span>
                </button>
            </div>

            <div class="form-control">
                <a ui-sref="main.base.courses_create({id: course.id})"
                   class="btn btn-file btn-rounded">
                    <span>Edit</span>
                </a>
            </div>
        </div>

        <div class="form-control">
            <a ui-sref="main.base.lessons({courseId: course.id})"
               class="btn btn-submit btn-rounded">
                <span>Lessons</span>
            </a>
        </div>
    </div>
</div>


