
<h1 class="administration-page-title">Users</h1>


<table class="administration-result-table" cellpadding="0" cellspacing="0" ng-if="usersList.length">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th class="with-sorting text-center"
            ng-class="{sorted: sort.name === 'lessons', 'sorted-asc': sort.asc}"
            ng-click="sortBy('lessons')">Lessons views</th>
        <th class="with-sorting text-center"
            ng-class="{sorted: sort.name === 'courses-started', 'sorted-asc': sort.asc}"
            ng-click="sortBy('courses-started')">Courses started</th>
        <th class="with-sorting text-center"
            ng-class="{sorted: sort.name === 'courses-completed', 'sorted-asc': sort.asc}"
            ng-click="sortBy('courses-completed')">Courses completed</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="user in usersList" ui-sref="main.base.users_view({id: user.id})">
        <td>
            {{ user.id }}
        </td>
        <td>
            {{ user.username }}
        </td>
        <td>
            {{ user.is_administrator ? 'Administrator' : (user.is_manager ? 'Manager' : 'User') }}
        </td>
        <td class="text-center">{{ user.stats.completed_lessons_count }}</td>
        <td class="text-center">{{ user.stats.started_courses_count }}</td>
        <td class="text-center">{{ user.stats.completed_courses_count }}</td>
    </tr>
    </tbody>
</table>

<div class="administration-empty-list" ng-if="!usersList.length">
    Users list is empty
</div>
<a ui-sref="main.base.users_create" class="btn btn-submit btn-rounded">
    <span>Create user</span>
</a>
