@import 'admin/auth';

.administration-content {
  padding: 10px 0;
}
.administration-menu {
  list-style-type: none;
  padding: 20px 0;
  //text-align: center;
  margin: 0;
  li {
    vertical-align: middle;
    display: inline-block;
    margin: 5px;
  }
}

.administration-empty-list {
  padding: 20px;
  margin: 10px 0 30px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
  color: #7a7a7a;
  border-radius: 3px;
}

.administration-form {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
  color: #7a7a7a;
  border-radius: 3px;
  &.with-tabs {
    margin-top: 50px;
    position: relative;
  }
  &-tabs {
    color: #7a7a7a;
    position: absolute;
    list-style-type: none;
    top: -42px;
    left: -1px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    &:after {
      content: '';
      display: block;

    }
    li {
      display: block;
      float: left;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #fff;
      padding: 10px 25px;
      border: 1px solid #e8e8e8;
      box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05);
      cursor: pointer;
      &:not(.active) {
        &:hover {
          background-color: #fafafa;
        }
      }
      &.active {
        cursor: default;
        border-bottom-width: 0;
        background-color: #f8f8f8;
        box-shadow: initial;
        padding-bottom: 11px;
      }
      + li {
        margin-left: -1px;
      }
    }

  }
}

.administration-page-title {
  color: #56bf0d;
  font-weight: 300;
  margin: 0.5em 0;
  font-size: 35px;
}

.administration-result-table {
  margin: 10px 0 30px;
  background-color: #f8f8f8;
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: #f0f0f0;
    text-shadow: 0 1px 0 #fff;
    color: #707070;
    th {
      font-weight: normal;
    }
  }
  tbody {
    tr {
      cursor: pointer;
      color: #444;
      text-shadow: 0 1px 0 #fff;
      &:hover {
        background-color: #58bf00;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        td {
          border-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  td, th {
    border: 1px solid #e8e8e8;
    padding: 10px;
    text-align: left;
    &:first-child {
      width: 1px;
      text-align: center;
    }
  }
}


#lesson-editor {
  background-color: #fff;
}