@import 'admin/auth';

.administration-content {
  padding: 10px 0;
}
.administration-menu {
  list-style-type: none;
  padding: 20px 0;
  //text-align: center;
  margin: 0;
  li {
    vertical-align: middle;
    display: inline-block;
    margin: 5px;
  }
}

.administration-empty-list {
  padding: 20px;
  margin: 10px 0 30px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
  color: #7a7a7a;
  border-radius: 3px;
}

.administration-form {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
  color: #7a7a7a;
  border-radius: 3px;
}

.administration-page-title {
  color: #56bf0d;
  font-weight: 300;
  margin: 0.5em 0;
  font-size: 35px;
}

.administration-result-table {
  margin: 10px 0 30px;
  background-color: #f8f8f8;
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: #f0f0f0;
    text-shadow: 0 1px 0 #fff;
    color: #707070;
    th {
      font-weight: normal;
    }
  }
  tbody {
    tr {
      cursor: pointer;
      color: #444;
      text-shadow: 0 1px 0 #fff;
      &:hover {
        background-color: #58bf00;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        td {
          border-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  td, th {
    border: 1px solid #e8e8e8;
    padding: 10px;
    text-align: left;
    &:first-child {
      width: 1px;
      text-align: center;
    }
  }
}
