<h1 class="administration-page-title">
    {{request.id ? 'Edit' : 'Create'}} Lesson (Course: {{course.name}})
</h1>



<div class="administration-form with-tabs">
    <ul class="administration-form-tabs">
        <li ng-class="{active: activeTab === 'base'}" ng-click="setActiveTab('base')">
            <span>Base</span>
        </li>
        <li ng-class="{active: activeTab === 'content'}" ng-click="setActiveTab('content')">
            <span>Content</span>
        </li>
        <li ng-class="{active: activeTab === 'test'}" ng-click="setActiveTab('test')">
            <span>Test</span>
        </li>
    </ul>

    <div class="grid-row" ng-show="activeTab === 'base'">
        <div class="grid-cell grid-cell-1-2 grid-cell-sm-1-2 grid-cell-s-2-3 grid-cell-ls-1">
            <form ng-submit="saveLesson()"
                  name="lessonForm">
                <div class="admin-auth_fieldsset">
                    <label class="form-control">
                        <span class="form-control_label">Title</span>
                        <span class="form-control_input">
                        <input type="text" name="name"
                               required
                               ng-model="request.name">
                    </span>
                        <span class="form-control_errors" ng-if="formRequest.errors.name">
                        {{formRequest.errors.name}}
                    </span>
                    </label>


                    <label class="form-control">
                        <span class="form-control_label">Description</span>
                        <span class="form-control_input">
                        <textarea ng-model="request.description"
                                  required
                                  name="description"
                                  class="text-field"
                                  placeholder="Lesson description">
                        </textarea>
                    </span>
                    </label>


                    <div class="form-control">
                        <span class="form-control_label">Cover video (YouTube link)</span>
                        <span class="form-control_input">
                        <input type="text" name="video"
                               ng-change="parseYouTubeURL(videoURL)"
                               required
                               ng-model="videoURL">
                    </span>
                    </div>


                    <div class="form-control">
                        <button class="btn btn-submit btn-rounded" type="submit"
                                ng-disabled="!lessonForm.$valid">
                            <span class="bold">Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-show="activeTab === 'content'">
        <div class="form-control">
            <div class="administration-form_reset-padding">
                <div id="toolbar-container">
                    <span class="ql-formats">
                      <button class="ql-header" value="2"></button>
                    </span>
                    <span class="ql-formats">
                          <button class="ql-bold"></button>
                          <button class="ql-italic"></button>
                          <button class="ql-underline"></button>
                          <button class="ql-strike"></button>
                        </span>
                    <span class="ql-formats">
                          <select class="ql-color"></select>
                          <select class="ql-background"></select>
                        </span>
                    <span class="ql-formats">
                          <button class="ql-script" value="sub"></button>
                          <button class="ql-script" value="super"></button>
                        </span>
                    <span class="ql-formats">
                          <button class="ql-blockquote"></button>
                          <button class="ql-code-block"></button>
                        </span>
                    <span class="ql-formats">
                          <button class="ql-list" value="ordered"></button>
                          <button class="ql-list" value="bullet"></button>
                          <button class="ql-indent" value="-1"></button>
                          <button class="ql-indent" value="+1"></button>
                        </span>
                    <span class="ql-formats">
                      <button class="ql-direction" value="rtl"></button>
                      <select class="ql-align"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                        <button class="ql-image"></button>
                        <button class="ql-video"></button>
                        <button class="ql-formula"></button>
                    </span>
                    <span class="ql-formats">
                          <button class="ql-clean"></button>
                    </span>
                </div>
                <div class="lesson-content" id="lesson-editor"
                     ng-bind-html="request.content">
                </div>
            </div>
        </div>
        <div class="form-control">
            <button class="btn btn-submit btn-rounded" type="button"
                    ng-disabled="!lessonForm.$valid"
                    ng-click="saveLesson()">
                <span class="bold">Save</span>
            </button>
        </div>
    </div>


</div>