<h1 class="administration-page-title">
    Lessons (Course: {{course.name}})
</h1>


<table class="administration-result-table" cellpadding="0" cellspacing="0" ng-if="lessonsList.length">
    <thead>
    <tr>
        <th class="normal-width">Title</th>
        <th colspan="2" width="1px">Order</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="lesson in lessonsList"
        ui-sref="main.base.lessons_create({courseId: course.id, id: lesson.id})">
        <td class="text-left normal-width">
            <nobr>{{ lesson.name }}</nobr>
        </td>
        <td width="1px">
            <button type="button" ng-if="$index" ng-click="toUp(lesson); $event.stopPropagation();">&#8593;</button>
        </td>
        <td width="1px">
            <button type="button" ng-if="!$last" ng-click="toBottom(lesson); $event.stopPropagation();">&#8595;</button>
        </td>
    </tr>
    </tbody>
</table>


<div class="administration-empty-list" ng-if="!lessonsList.length">
    Lessons list is empty
</div>
<a ui-sref="main.base.lessons_create({courseId: course.id, id: null})" class="btn btn-submit btn-rounded">
    <span>Add lesson</span>
</a>
