{% extends '../administration.html' %}


{% block pageContent %}

<div ng-controller="AdminAuthController">
    <form class="admin-auth" method="post" action="">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="admin-auth_fieldsset">

            <label class="form-control">
                <span class="form-control_label uppercase">
                    Username or Email
                </span>
                <span class="form-control_input">
                    <input type="text" name="username">
                </span>
                {% if form.username.errors %}
                <span class="form-control_errors">
                    {{form.username.errors}}
                </span>
                {% endif %}
            </label>

            <label class="form-control">
                <span class="form-control_label uppercase">
                    Password
                </span>
                <span class="form-control_input">
                    <input type="password" name="password">
                </span>

                {% if form.password.errors %}
                <span class="form-control_errors">
                    {{form.password.errors}}
                </span>
                {% endif %}

                {% if form.non_field_errors %}
                <span class="form-control_errors">
                    {{form.non_field_errors}}
                </span>
                {% endif %}

            </label>
            <div class="form-control">
                <button class="btn btn-submit btn-rounded" type="submit">
                    <span class="uppercase bold">Login</span>
                </button>
            </div>

        </div>
    </form>
</div>
{% endblock %}
