{% extends 'administration.html' %}

{% block pageTitle %}
<title>NEO Portal Administrator | User</title>
{% endblock %}

{% block pageContent %}

<h1 class="administration-page-title">Users</h1>


{% if user_list.count %}
<table class="administration-result-table" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Manager</th>
        <th>Administrator</th>
    </tr>
    </thead>
    <tbody>

    {% for item in user_list %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.is_manager }}</td>
        <td>{{ item.is_administrator }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}


{% if user_list.count == 0 %}
<div class="administration-empty-list">
    Users list is empty
</div>
{% endif %}

<a href="{% url 'admin-users-add' %}" class="btn btn-submit btn-rounded">
    <span>Create user</span>
</a>

{% endblock %}

