.courses-list {
  margin-bottom: 30px;
  clear: both;
  .grid-row {
    display: flex;
    flex-wrap: wrap;
  }
  .grid-cell {
    margin-bottom: 20px;
  }
  .course-preview {
    height:  100%;
    transition: all linear 0.1s;
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    top: 0;
    &-content {
      width: 600px;
      background: none;
    }
    &:hover {
      //background-color: #fafafa;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
      border-color: #f0f0f0;
      top: -2px;
    }
  }
}

.courses-specialities {
  list-style-type: none;
  margin: 20px 0 10px;
  padding: 0;
  font-size: 14px;
  float: left;
  + .course-preview-languages {
    float: left;
    margin-top: 20px;
    padding: 13px;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  a {
    display: block;
    background-color: #f9f9f9;
    border-radius: 3px;
    color: #66696d;
    text-decoration: none;
    line-height: 18px;
    padding: 17px 20px;
    box-sizing: border-box;
    text-align: center;
    min-width: 125px;
    border: 1px solid transparent;
    &:not(.active) {
      transition: all linear 0.1s;
      &:hover {
        border-color: #58bf00;
        color: #449400;
      }
    }
    &.active {
      border-color: #58bf00;
      background-color: #58bf00;
      color: #fff;
    }
  }
}

.courses-filter {
  list-style-type: none;
  border-bottom: 2px solid #ececec;
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0 10px;
  padding: 0;
  li {
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 15px 0 0;
  }
  a {
    color: #4e5156;
    line-height: 20px;
    padding: 10px;
    display: block;
    margin-bottom: -2px;
    text-decoration: none;
    border-bottom: 2px solid #58bf00;
  }
}



