.course-content-wrapper {
  margin-left: 27%;
  margin-right: 27%;
}
.course-top {
  background: no-repeat center center;
  background-size: cover;
  &_content {
    background-color: rgba(88, 191, 0, 0.8);
    color: #fff;
  }
  &_name {
    font-size: 45px;
    margin: 20px 0;
    //font-weight: normal;
  }
  &_speciality {
    font-size: 20px;
    font-weight: 300;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    display: inline;
    &:hover {
      border-color: initial;
    }
  }
  &_description {
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
    display: block;
  }
  &_wrapper {
    padding: 60px 0;
  }
  &_mat {
    margin-top: 20px;
    font-weight: 300;
    line-height: 24px;
    i {
      font-size: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }
    span {
      vertical-align: middle;
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
    &__lessons {

    }
  }
}

.course-lessons_list {
  padding: 50px 0 80px;
  margin: 0 -15px;
}

.course-lesson_list_item {
  transition: all linear 0.1s;
  background-color: transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border: 1px solid transparent;
  padding: 15px;
  display: block;
  border-radius: 4px;
  position: relative;
  top: 0;
  &_wrapper {
    padding: 50px 0 80px;
  }
  &, &:hover {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    border-color: #f0f0f0;
    top: -2px;
  }

  + .course-lesson {
    margin-top: 20px;
  }
  &_img {
    float: left;
    width: 200px;
    img {
      width: 100%;
      display: block;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &_content {
    margin-left: 220px;
    &__name {
      color: #56bf0d;
      font-size: 28px;
      line-height: 1.2em;
      margin: 0 0 0.62em;
    }
    &__description {
      color: #777;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.lesson-content {
  &:not(.ql-container) {
    padding: 40px 0;
  }
  &_video {
    width: 100%;
    height: 360px;
    margin-bottom: 40px;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
  font-size: 16px;
  line-height: 1.42;
  color: #444;
  h2 {
    font-weight: 300;
    font-size: 28px!important;
    color: #444;
    margin-bottom: 1em;
    margin-top: 0;
  }
  h3 {
    font-size: 20px!important;
    color: #70c933;
    font-weight: 300;
  }
  a {
    color: #76cb3a!important;
    text-decoration: none!important;
    &:hover {
      text-decoration: underline!important;
    }
  }
  p, ol, ul, pre, blockquote {
    font-weight: 300;
  }
  p, ol, ul, pre, blockquote, h1, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }
  img {
    max-width: 100%;
  }
}

.lesson-page-wrapper {
  position: relative;
  .other-lesson {
    position: absolute;
    top: 196px;
    width: 25%;
    &-content {
      position: relative;
      display: block;
      opacity: 0.4;
      &:hover {
        opacity: 0.8;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -7px;
        width: 12px;
        height: 12px;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: #56bf0d;
      }
    }

    img {
      max-width: 100%;
    }
    &__prev {
      left: 0;
      text-align: center;
    }
    &__prev .other-lesson-content:after {
      left: 100%;
      transform: rotate(-135deg);
      margin-left: 7px;
    }


    &__next {
      right: 0;
      text-align: center;
    }
    &__next .other-lesson-content:after {
      right: 100%;
      transform: rotate(45deg);
      margin-right: 7px;
    }
  }
}

