{% extends 'administration.html' %}

{% block pageTitle %}
<title>NEO Portal Administrator | Courses</title>
{% endblock %}

{% block pageContent %}

<h1 class="administration-page-title">Courses</h1>


{% if courses_list.count %}
<table class="administration-result-table" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>Title</th>
        <th>State</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>

    {% for item in courses_list %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.role }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}


{% if courses_list.count == 0 %}
<div class="administration-empty-list">
    Courses list is empty
</div>
{% endif %}

<a href="{% url 'admin-course-add' %}" class="btn btn-submit btn-rounded">
    <span>Create course</span>
</a>

{% endblock %}

