@font-face {
  font-family: 'icomoon';
  src:  url('/static/fonts/icomoon.eot?py2cxv');
  src:  url('/static/fonts/icomoon.eot?py2cxv#iefix') format('embedded-opentype'),
  url('/static/fonts/icomoon.ttf?py2cxv') format('truetype'),
  url('/static/fonts/icomoon.woff?py2cxv') format('woff'),
  url('/static/fonts/icomoon.svg?py2cxv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e900";
}