input, .btn, .text-field {
  box-sizing: border-box;
  outline: 0 none;
  font-family: inherit;
}

input, .text-field {
  background-color: #fff;
  border: 1px solid #d7dad5;
  color: #7f7f7f;
  font-size: 14px;
  padding: 12px 18px;
  line-height: 22px;
}
.text-field-min {
  @extend .btn-min;
}
textarea.text-field {
  padding: 10px 14px;
  line-height: 18px;
  height: 140px;
}

.btn {
  padding: 12px 24px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #d7dad5;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  &, &:hover, &:active, &:focus {
    text-decoration: none;
  }

  &-rounded {
    border-radius: 3px;
  }
  &-min {
    padding: 4px 14px;
    font-size: 13px;
    line-height: 20px;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
  &-active {
    cursor: default;
  }

  &-cancel {
    background-color: #bf1e2a;
    color: #fff;
    border-color: #bf1e2a;
    &:not([disabled]) {
      &:hover {
        background-color: #dd2331;
      }
      &:active {
        background-color: #a31a24;
        border-color: #bf1e2a;
      }
      &.btn-active {
        background-color: #fff;
        color: #bf1e2a;
      }
    }
  }
  &-submit {
    background-color: #58bf00;
    color: #fff;
    border-color: #58bf00;
    &:not([disabled]) {
      &:hover {
        background-color: #5ecd00;
      }
      &:active {
        background-color: #4da800;
        border-color: #4da800;
      }
      &.btn-active {
        background-color: #fff;
        color: #4da800;
      }
    }
  }
  &-file {
    background-color: #fff;
    color: #777;
    border-color: #d7dad5;
    position: relative;
    overflow: hidden;
    input[type="file"] {
      position: absolute;
      margin: 0;
      left: -2px;
      top: -2px;
      font-size: 70px;
      opacity: 0;
    }
    &:not([disabled]) {
      &:hover {
        background-color: #fafafa;
      }
      &:active {
        background-color: #f0f0f0;
      }
    }
  }
}


.form-control-group {
  display: table;
  &_element {
    display: table-cell;
  }
}


input, textarea, select {
  form:not(.no-check-submitted).ng-submitted &.ng-invalid, &.ng-invalid:focus, &.ng-touched.ng-invalid, &[invalid="true"] {
    &:not(:disabled), &:not([disabled]), &:not([readonly]) {
      border-color: #f91c1c;
    }
    &:focus {
      box-shadow: 0 0 0.2em rgba(249, 28, 28, 0.4);
    }
  }
}

.form-control {
  display: block;
  &_label {
    color: #7f7f7f;
    margin-bottom: 8px;
    line-height: 14px;
    display: block;
    font-size: 14px;
  }
  &_input {
    input {
      &[type="text"], &[type="email"], &[type="password"] {
        width: 100%;
        color: #4a4a4a;
      }
      .submitted &:invalid, &.touched:invalid {
        border-color: #EE4256;
      }
    }
    .text-field {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      color: #4a4a4a;
    }
    display: block;
  }
  &_errors {
    color: #a00;
    font-size: 12px;
    margin-top: 10px;
    display: block;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
  + .form-control {
    margin-top: 25px;
  }
}

.file-name {
  display: inline-block;
  line-height: 48px;
  vertical-align: middle;
  margin-left: 10px;
  span {
    display: block;
    line-height: 18px;
    font-size: 14px;
  }
}


.checkbox-decoration {
  cursor: pointer;
  margin: 1.03em 0 0.9em;
  display: inline-block;
  position: relative;
  user-select: none;
  vertical-align: middle;
  &.disabled {
    opacity: 0.5;
  }
  .disclaimer-btn {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
  }
  &.for-buttons-height {
    margin: 0.6em 0 0.6em;
  }
  &-val {
    color: #fff;
    position: absolute;
    font-size: 1.3em;
    line-height: 1em;
    top: 50%;
    margin-top: -0.5em;
    text-transform: uppercase;
    text-align: center;
    transition: opacity 0.1s linear;
    z-index: 2;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    &_off {
      right: 0.2em;
      left: 2em;
      opacity: 1;
      input:checked ~ .checkbox-decoration-displaying & {
        opacity: 0;
      }
    }
    &_on {
      left: 0.2em;
      right: 2em;
      opacity: 0;
      input:checked ~ .checkbox-decoration-displaying & {
        opacity: 1;
      }
    }
  }

  &-displaying {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 2.9em;
    width: 7em;
    border-radius: 1.45em;
    box-sizing: border-box;
    background-color: #c2c2c2;
    transition: all 0.1s linear;
    input:checked ~ & {
      background-color: #58bf00;
    }
    input:disabled ~ & {
      opacity: 0.5;
      cursor: default;
    }
    &:after {
      content: '';
      width: 2.1em;
      height: 2.1em;
      display: block;
      position: relative;
      top: 50%;
      left: 0;
      transform: translateX(0.5em);
      margin-top: -1.05em;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.15s;
      input:checked ~ & {
        transform: translateX(4.4em);
      }
    }
  }
  input {
    position: absolute;
    outline: none;
    right: 100%;
    bottom: 100%;
    margin: 0;
    opacity: 0;
  }
}
