{% load static %}
<!DOCTYPE html>
<html>
<head>

    {% block pageTitle %}{% endblock %}

    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">-->



    <link rel="stylesheet" href='{% static "main.css" %}'>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src='{% static "main.js" %}'></script>

    <link type="image/x-icon" href="https://neo-cdn.azureedge.net/images/favicon.png" rel="apple-touch-icon">
    <link type="image/x-icon" href="https://neo-cdn.azureedge.net/images/favicon.png" rel="shortcut icon">
    <link type="image/x-icon" href="https://neo-cdn.azureedge.net/images/favicon.png" rel="icon">
    <link type="image/x-icon" href="https://neo-cdn.azureedge.net/images/favicon.png" rel="bookmark" />

</head>
<body>

<header class="header">
    <div class="content-wrapper">

        {% if user.username %}
        <div class="header-profile">
            <div class="header-profile_btn logged"
                 id="profile-btn"
                 ng-mousedown="$event.preventDefault();"
                 ng-class="{'opened': openedMenu}"
                 ng-click="toggleProfileMenu()">
                <span class="header-profile_avatar">
                    <img src="{% static 'images/icons/account.svg' %}"/>
                </span>
                <span class="header-profile_username">{{ user.username }}</span>

                <ul class="header-profile_menu">
                   <li>
                       <a class="header-profile_menu_link" href="{% url 'profile-logout' %}">Log out</a>
                   </li>
                    <li>
                        <a class="header-profile_menu_link" href="/administration">Administration</a>
                    </li>
                </ul>

            </div>
        </div>
        {% endif %}

        <a href="/" class="class-header-logotype">
            <img src="{% static 'images/logotype.png' %}"/>
        </a>

        <ul class="header-menu">
            <li>
                <a href="{% url 'portal-courses-list' %}">Courses</a>
            </li>
        </ul>

    </div>
</header>



<main>
    {% block appContent %}
    {% endblock %}
</main>

{% block footer %}{% endblock %}
{% block appScripts %}{% endblock %}

</body>
</html>


