{% block footer %}

<footer class="footer">
    <div class="content-wrapper">
        <form class="footer-subscribe-form">
            <div class="form-control-group">
                <div class="form-control-group_element">
                    <input placeholder="Enter your email">
                </div>
                <div class="form-control-group_element">
                    <button class="btn btn-submit">
                        <span>Subscribe</span>
                    </button>
                </div>
            </div>
        </form>
        <span class="footer-copy">
            Copyright &copy; NEO Team 2014-2019 ICPA15040337A
            <a href="#">Site Map</a>
        </span>
    </div>
</footer>

{% endblock %}