{% extends 'main.html' %}
{% load static %}

{% block appScripts %}{% endblock %}

{% block appContent %}
    {% block pageContent %}{% endblock%}
{% endblock%}


{% block footer %}
<script src='{% static "portal.js" %}'></script>

<div class="main-footer">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-5 footer-logo m1 lh3 t4">
                <img data-original="https://neo-cdn.azureedge.net/images/neo_logo.svg" src="https://neo-cdn.azureedge.net/images/neo_logo.svg" style="">
                <p class="m4 mb0">Contact: <a class="gray-text" href="mailto:contact@neo.org">contact@neo.org</a></p>
                <p class="mb0">Marketing: <a class="gray-text" href="mailto:marketing@neo.org">marketing@neo.org</a></p>
            </div>
            <div class="col-md-7 m1">
                <ul class="footer-link t2">
                    <li><a target="_blank" href="https://github.com/neo-project"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/neo_blockchain"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://discord.io/neo"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://www.reddit.com/r/NEO/"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://medium.com/neo-smart-economy"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCl1AwEDN0w5lTmfJEMsY5Vw/videos"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/NEOSmartEcon/"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://t.me/NEO_EN"><i class="iconfont"></i></a></li>
                    <li class="pop-up">
                        <a href="javascript:void(0);"><i class="iconfont"></i></a>
                        <div class="pop-hide">
                            <img src="https://neo-cdn.azureedge.net/images/qrcode.png" width="120" height="120">
                        </div>
                    </li>
                    <li><a target="_blank" href="https://weibo.com/neosmarteconomy"><i class="iconfont"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <div class="light-text">
                <p>Copyright © <a href="https://mywish.io" target="_blank">MyWish.io</a> 2019</p>
            </div>
        </div>
    </div>
</div>



{% if not user.username %}

<div data-modal="auth" class="custom-modal" {% if request.path != '/login/' %}style="display: none"{% endif %}>
    <div class="custom-modal_overlay" id="auth-form">
        <div class="custom-modal_content">
            <div class="custom-modal_content_header">

                <ul class="custom-modal_menu" id="modal-menu">
                    <li class="custom-modal_menu_item">
                        <a href="#" data-form-link="signin">Sign in</a>
                    </li>
                    <li class="custom-modal_menu_item">
                        <a href="#" data-form-link="signup">Sign up</a>
                    </li>
                </ul>

                <div class="back-to-forms" id="back-to-form">
                    <a data-open-form data-form-link="signin">
                        <span>←</span>
                        Password assistance
                    </a>
                </div>

            </div>
            <form class="custom-modal_content_body" data-form="signup"
                  id="registration-form"
                  name="register" novalidate  autocomplete="off">
                <div class="form-control">
                    <span class="form-control_label">
                        E-mail
                    </span>
                    <div class="form-control_input">
                        <input type="email" name="email" required
                               autocomplete="new-password">
                        <div class="form-control_errors" data-error="required" data-field="email">
                            Required field
                        </div>
                        <div class="form-control_errors" data-error="email" data-field="email">
                            Enter your e-mail
                        </div>
                        <div class="form-control_errors" data-error="server" data-field="email">
                        </div>
                    </div>
                </div>
                <div class="form-control">
                    <span class="form-control_label">
                        Password
                    </span>
                    <div class="form-control_input">
                        <input type="password"
                               minlength="8"
                               autocomplete="new-password"
                               name="password1" required>
                        <div class="form-control_errors" data-error="required" data-field="password1">
                            Required field
                        </div>
                        <div class="form-control_errors" data-error="minlength" data-field="password1">
                            Minimum password length 8 characters
                        </div>
                        <div class="form-control_errors" data-error="pattern" data-field="password1">
                            Incorrect password
                        </div>
                        <div class="form-control_errors" data-error="server" data-field="password1">
                        </div>
                    </div>
                </div>
                <div class="form-control">
                    <span class="form-control_label">
                        Confirm password
                    </span>
                    <div class="form-control_input">
                        <input type="password"
                               minlength="8"
                               autocomplete="new-password"
                               name="password2" required>
                        <div class="form-control_errors" data-error="match" data-field="password2">
                            Passwords do not match
                        </div>
                        <div class="form-control_errors" data-error="server" data-field="password2">
                        </div>
                        <div class="form-control_errors" data-error="server" data-field="non_field_errors">
                        </div>
                    </div>
                </div>
                <div class="custom-modal_content_footer">
                    <div class="custom-modal_buttons">
                        <button class="btn btn-submit uppercase btn-rounded bold" type="submit">
                            Create your account
                        </button>
                    </div>
                </div>
            </form>
            <form class="custom-modal_content_body"
                  id="login-form"
                  data-form="signin" name="signin" novalidate>
                <label class="form-control">
                    <span class="form-control_label">
                        E-mail
                    </span>
                    <span class="form-control_input">
                        <input type="email" name="email" required>
                        <div class="form-control_errors" data-error="server" data-field="email">
                        </div>
                    </span>
                </label>
                <label class="form-control">
                    <span class="form-control_label">
                        Password
                    </span>
                    <span class="form-control_input">
                        <input type="password"
                               minlength="8"
                               name="password" required>
                        <div class="form-control_errors" data-error="server" data-field="password">
                        </div>
                    </span>
                </label>
                <div class="custom-modal_content_footer">
                    <div class="custom-modal_buttons">
                        <a class="reset-password-link" data-open-form data-form-link="forgot">Forgot your password?</a>
                        <button class="btn btn-submit uppercase btn-rounded bold" type="submit">
                            Login
                        </button>
                    </div>
                </div>
            </form>


            <form class="custom-modal_content_body" data-form="forgot"
                  id="forgot-password-form"
                  name="forgot" novalidate  autocomplete="off">
                <p class="modal-text">
                    Enter your username or email to recover your password. You will receive an email with instructions
                </p>
                <div class="form-control">
                    <span class="form-control_label">
                        E-mail
                    </span>
                    <div class="form-control_input">
                        <input type="email" name="email" required
                               autocomplete="new-password">
                        <div class="form-control_errors" data-error="required" data-field="email">
                            Required field
                        </div>
                        <div class="form-control_errors" data-error="email" data-field="email">
                            Enter your e-mail
                        </div>
                    </div>
                </div>
                <div class="custom-modal_content_footer">
                    <div class="custom-modal_buttons">
                        <button class="btn btn-submit uppercase btn-rounded bold" type="submit">
                            Continue
                        </button>
                    </div>
                </div>
            </form>


            <button class="custom-modal-close" data-close-modal="auth">
                <span></span>
            </button>
        </div>
    </div>
</div>




<div data-modal="confirm-email" class="custom-modal" style="display: none">
    <div class="custom-modal_overlay">
        <div class="custom-modal_content">
            <div class="custom-modal_content_header">
                <div class="back-to-forms">
                    <div>
                        Confirm Email
                    </div>
                </div>
            </div>
            <div class="custom-modal_content_body" style="display: block;">
                <p class="modal-text">
                    На Ваш Email отправлено письмо, подтвердите адрес электронной почты перейдя по ссылке в письме
                </p>
            </div>
            <div class="custom-modal_content_footer">
                <div class="custom-modal_buttons">
                    <button class="btn btn-submit uppercase btn-rounded bold" type="button" data-close-modal="confirm-email">
                        Ok
                    </button>
                </div>
            </div>
            <button class="custom-modal-close" data-close-modal="confirm-email">
                <span></span>
            </button>
        </div>
    </div>
</div>

<div data-modal="success-reset-password" class="custom-modal" style="display: none">
    <div class="custom-modal_overlay">
        <div class="custom-modal_content">
            <div class="custom-modal_content_header">
                <div class="back-to-forms">
                    <div>
                        Сброс пароля
                    </div>
                </div>
            </div>
            <div class="custom-modal_content_body" style="display: block;">
                <p class="modal-text">
                    На Ваш Email отправлено письмо, перейдите по ссылке в письме для сброса пароля
                </p>
            </div>
            <div class="custom-modal_content_footer">
                <div class="custom-modal_buttons">
                    <button class="btn btn-submit uppercase btn-rounded bold"
                            type="button" data-close-modal="success-reset-password">
                        Ok
                    </button>
                </div>
            </div>
            <button class="custom-modal-close" data-close-modal="success-reset-password">
                <span></span>
            </button>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}



