{% extends 'main.html' %}
{% load static %}

{% block appScripts %}{% endblock %}

{% block appContent %}

    {% block pageContent %}{% endblock%}

{% endblock%}


{% block footer %}



<div class="main-footer">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-5 footer-logo m1 lh3 t4">
                <img data-original="https://neo-cdn.azureedge.net/images/neo_logo.svg" src="https://neo-cdn.azureedge.net/images/neo_logo.svg" style="">
                <p class="m4 mb0">Contact: <a class="gray-text" href="mailto:contact@neo.org">contact@neo.org</a></p>
                <p class="mb0">Marketing: <a class="gray-text" href="mailto:marketing@neo.org">marketing@neo.org</a></p>
            </div>
            <div class="col-md-7 m1">
                <ul class="footer-link t2">
                    <li><a target="_blank" href="https://github.com/neo-project"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/neo_blockchain"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://discord.io/neo"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://www.reddit.com/r/NEO/"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://medium.com/neo-smart-economy"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCl1AwEDN0w5lTmfJEMsY5Vw/videos"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/NEOSmartEcon/"><i class="iconfont"></i></a></li>
                    <li><a target="_blank" href="https://t.me/NEO_EN"><i class="iconfont"></i></a></li>
                    <li class="pop-up">
                        <a href="javascript:void(0);"><i class="iconfont"></i></a>
                        <div class="pop-hide">
                            <img src="https://neo-cdn.azureedge.net/images/qrcode.png" width="120" height="120">
                        </div>
                    </li>
                    <li><a target="_blank" href="https://weibo.com/neosmarteconomy"><i class="iconfont"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <div class="light-text">
                <p>Copyright © NEO Team 2014-2019</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}