{% extends 'portal.html' %}


{% block appScripts %}{% endblock %}

{% block pageContent %}


<div class="content-wrapper">
    <ul class="courses-filter">
        <li>
            <a href="#">New</a>
        </li>
    </ul>

    <div class="course-preview-languages courses-list-filter">
        {% for value in language_list %}
        <a href="?{% if selected_spec %}spec={{selected_spec}}&{% endif %}l={{value}}"
           class="course-preview-languages_link{% ifequal value selected_lng %} active{% endifequal %}">
            <img src="/static/images/lng/{{value}}.svg"/>
        </a>
        {% endfor %}
    </div>

    <ul class="courses-specialities">
        <li>
            <a href="{% url 'portal-courses-list' %}"
               {% if not selected_spec %} class="active"{% endif %}
            >All</a>
        </li>
        {% for speciality in speciality_list %}
        <li>
            <a href="?{% if selected_lng %}l={{selected_lng}}&{% endif %}spec={{speciality.id}}"
               {% ifequal selected_spec speciality.id %} class="active"{% endifequal %}
            >{{ speciality.name }}</a>
        </li>
        {% endfor %}
    </ul>


    <div class="courses-list">
        <div class="grid-row">
        {% for course in courses %}
            <div class="grid-cell grid-cell-1-3">
                <div class="course-preview">
                    <div class="course-preview-content">
                        <span class="course-preview-image"
                             style="background-image: url(/media/{{course.image.image_name}})"></span>

                        <div class="course-preview-languages">
                            {% for key, value in course.other_lang_ids.items %}
                            <a href="{% url 'portal-course-view' value %}"
                               class="course-preview-languages_link active">
                                <img src="/static/images/lng/{{key}}.svg"/>
                            </a>
                            {% endfor %}
                        </div>

                        <a href="?{% if selected_lng %}l={{selected_lng}}&{% endif %}spec={{course.speciality.id}}" class="course-preview-speciality">
                            {{ course.speciality.name }}
                        </a>
                        <a href="{% url 'portal-course-view' course.id %}" class="course-preview-name">
                            {{ course.name }}
                        </a>
                        <div class="course-preview-tags">
                            {% for tag in course.tags %}
                            <span>
                                <a href="{% url 'portal-courses-list' %}?tag={{tag}}">#{{tag}}</a>
                            </span>
                            {% endfor %}
                        </div>
                        <a href="{% url 'portal-course-view' course.id %}" class="course-preview-link"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

