{% extends 'portal.html' %}


{% block appScripts %}{% endblock %}

{% block pageContent %}

<div class="course-top" style="background-image: url(/media/{{course.image.image_name}})">
    <div class="course-top_content">
        <div class="content-wrapper">
            <div class="course-top_wrapper">
                <a href="#" class="course-top_speciality">
                    {{course.speciality.name}}
                </a>
                <h1 class="course-top_name">
                    {{course.name}}
                </h1>
                <strong class="course-top_description">
                    {{course.description}}
                </strong>
            </div>
        </div>
    </div>
</div>


<div class="content-wrapper">
    <div class="course-lessons_list">
        {% for lesson in lessons %}
        <a href="#" class="course-lesson">
            <div class="course-lesson_img">
                <img src="https://img.youtube.com/vi/{{lesson.video_id}}/mqdefault.jpg">
            </div>
            <div class="course-lesson_content">
                <h3 class="course-lesson_content__name">
                    {{ lesson.name }}
                </h3>
                <div class="course-lesson_content__description">
                    {{ lesson.description }}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}


