{% extends 'portal.html' %}


{% block appScripts %}
<style>
    body:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 96px;
        bottom: 221px;
        background: url('/static/images/home-bg.png') center center no-repeat #f0f0f0;
        background-size: contain;
        z-index: 0;
    }
    main {
        z-index: 1;
        position: relative;
    }

</style>
{% endblock %}

{% block pageContent %}
<div class="home-page-content">
    <h1 class="home-page-content_title">
        Welcome to NEO universe
    </h1>
    <strong class="home-page-content_description">
        Complete the education and become the one who changes the world
    </strong>
    <div class="home-page-content_btns">
        <a href="{% url 'portal-courses-list' %}" class="btn btn-rounded btn-submit bold uppercase">
            <span>Start learning</span>
        </a>
    </div>
</div>
{% endblock %}

